<div class="tbar">
        <a href="#"><img src="../assets/Mahendra.png" alt=""></a>
    
    <div class="menus">
        <a routerLink="/">Home</a>
        <a routerLink="/adddetail">AddDetail</a>
        <a routerLink="/showdetail">ViewDetail</a>
        <a href="#">Options</a>
        <a href="#">Profile</a>
        <a href="#">Settings</a>
        <a href="#">Notification</a> 
    </div>
    <div class="tog">
        <a  href="#"><span  class="material-symbols-outlined">
            segment
            </span></a>
        
    </div>
</div>

