<div class="mdi">
    <div class="heading">
        <h1>Student Register Table</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, nobis. Quae odio enim cum aut repudiandae tempore voluptatum libero velit nulla, eaque rerum illo excepturi minima, earum et.</p>
        <button class="glow-on-hover button-30" routerLink="/adddetail">Add Your Details</button>
    </div>
    <div class="card">
        <img src="../assets/—Pngtree—2.5d technology internet-server-storage database_4027940.png" alt="">
    </div>
    
    
</div>


